<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    lang="en">
	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <title>Three Sixty</title>
	
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" />
	    <link th:href="@{/css/mdb.min.css}" href="../static/css/mdb.css" rel="stylesheet" />
	    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" />
	
	</head>

	<body>
	    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">
	        <!-- Collapse button-->
	        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
	            <i class="fa fa-bars"></i>
	        </button>
	        <div class="container">
	            <!--Collapse content-->
	            <div class="collapse navbar-toggleable-xs" id="collapseEx">
	                <a class="navbar-brand" href="/">
	                  <i id="icon" class="fa fa-rocket" style="text-shadow: rgb(44, 80, 109) 0px 0px 0px, rgb(46, 83, 112) 1px 1px 0px, rgb(47, 86, 116) 2px 2px 0px, rgb(49, 88, 120) 3px 3px 0px, rgb(50, 91, 124) 4px 4px 0px, rgb(52, 94, 128) 5px 5px 0px, rgb(54, 97, 132) 6px 6px 0px, rgb(55, 100, 136) 7px 7px 0px, rgb(57, 103, 140) 8px 8px 0px, rgb(58, 105, 143) 9px 9px 0px, rgb(60, 108, 147) 10px 10px 0px, rgb(61, 111, 151) 11px 11px 0px; font-size: 30px; color: rgb(255, 255, 255); height: 30px; width: 58px; line-height: 30px; border-radius: 10%; text-align: center; background-color: rgb(63, 114, 155);"></i>
	                  <span>Three <strong>Sixty</strong></span>
	                </a>
	                <ul class="nav navbar-nav">
	                    <li class="nav-item active">
	                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#" th:href="@{/assessments}">Assessments</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#" th:href="@{/kudos}">Kudos</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="#" th:href="@{/}">Contact</a>
	                    </li>
	                </ul>
					<ul class="nav navbar-nav nav-flex-icons">
						<li class="nav-item ">
							<a class="nav-link" href="#">1 <i class="fa fa-envelope"></i> </a>
						</li>
						<!--  
						<li class="nav-item avatar active dropdown">
							<a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-fluid img-circle">
							</a>
							<div class="dropdown-menu dropdown-warning" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
						-->
					</ul>
	            </div>
	        </div>
	    </nav>
	
	    <div class="container main" layout:fragment="content">
	        <p>Content</p>
	    </div>
	
	    <div th:include="layouts/layout-fragments :: footer"></div>
	
	    <script th:src="@{/js/jquery-2.2.3.min.js}"     src="../static/js/jquery-2.2.3.min.js"></script> 
	    <script th:src="@{/js/tether.min.js}"           src="../static/js/tether.min.js"></script>
	    <script th:src="@{/js/bootstrap.min.js}"        src="../static/js/bootstrap.min.js"></script>
	    <script th:src="@{/js/mdb.js}"                  src="../static/js/mdb.js"></script>
	</body>
</html>