<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/minimal}"
    lang="en">
	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <title>Three Sixty</title>
	
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" />
	    <link th:href="@{/css/mdb.min.css}" href="../static/css/mdb.css" rel="stylesheet" />
	    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container main" layout:fragment="content">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="card">

						<div class="card-block">
							<div class="form-header default-color">
								<i class="fa fa-user"></i> Login
							</div>
							<div th:if="${param.error}">
								Invalid user name and password.
							</div>
							<div th:if="${param.logout}">
								You have been logged out.
							</div>
							<form th:action="@{/login}" method="post">
								<div class="md-form">
									<i class="fa fa-user prefix"></i>
									<input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp"></input>
									<label for="username">Email address</label>
								</div>

								<div class="md-form">
									<i class="fa fa-lock prefix"></i>
									<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"></input>
									<label for="password">Password</label>
								</div>

								<button type="submit" class="btn btn-primary">Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	    <script th:src="@{/js/jquery-2.2.3.min.js}"     src="../static/js/jquery-2.2.3.min.js"></script> 
	    <script th:src="@{/js/tether.min.js}"           src="../static/js/tether.min.js"></script>
	    <script th:src="@{/js/bootstrap.min.js}"        src="../static/js/bootstrap.min.js"></script>
	    <script th:src="@{/js/mdb.js}"                  src="../static/js/mdb.js"></script>
	</body>
</html>